<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="id.spring.mybatis.relation.repository.UserRepository" >
	
	<resultMap id="userResult" type="User">
		<id property="userId" column="user_id" />
		<result property="emailid" column="email_id" />
		<result property="name" column="name" />
	</resultMap>
	
	<resultMap id="userResult2" type="User">
		<id property="userId" column="USER_ID" />
		<result property="emailid" column="EMAIL_ID" />
		<result property="name" column="NAME" />
		<collection property="posts" column="user_id" ofType="Post" resultMap="postResult"></collection>
	</resultMap>
	
	<resultMap id="postResult" type="Post">
		<id property="postId" column="post_id" />
		<result property="title" column="title" />
		<result property="content" column="content" />
		<result property="createdOn" column="created_on" />
	</resultMap>
	
	<select id='selectUserById' parameterType='int' resultMap='userResult2'>
 
	     SELECT 
	      u.user_id, 
	      u.email_id, 
	      u.name, 
	      p.post_id as post_id, 
	      p.title as title, 
	      p.content as content, 
	      p.created_on as created_on
	  FROM user u left outer join post p 
	  	on u.user_id=p.user_id
	     WHERE u.user_id = #{user_id}
  </select>
  
  <select id='selectUserById3' parameterType='int' resultMap='userResult'>
 
     SELECT * from user where user_id = #{user_id}
  </select>
	
</mapper>